html, body{background:rgb(16,22,27);background:radial-gradient(circle, rgba(16,22,27,1) 0%, rgba(7,9,10,1) 100%)}
.C0{color:rgb(7,7,7)}.C0bk{background-color:rgb(7,7,7)}.C0fl{fill:rgb(7,7,7)}.C0br{border-color:rgb(7,7,7)}.C0bk_hov:hover{background-color:rgb(7,7,7)}.C0_hov:hover{color:rgb(7,7,7)}.C0fl_hov:hover{fill:rgb(7,7,7)}
.C0bk_grd{background:rgba(15,15,22,0.94);background:linear-gradient(90deg, rgba(15,15,22,0.94) 0%, rgba(7,7,11,0.94) 100%)}.C0_grd{color:rgb(15,15,22)}.C0fl_grd{fill:rgb(15,15,22)}
.C1{color:rgb(130,65,20)}.C1bk{background-color:rgb(145,70,20)}.C1br{border-color:rgb(145,70,20) !important}.C1bk_hov:hover{background-color:rgb(145,70,20)}.C1_hov:hover{color:rgb(145,70,20)}.C1fl_hov:hover{fill:rgb(145,70,20)}
.C1fl{fill:rgb(130,65,20)}
.svgMap_LandHover{fill:rgb(146, 69, 21) !important}
.C2{color:rgb(65,80,125)}.C2bk{background-color:rgb(65,80,125)}.C2fl{fill:rgb(65,80,125)}.C2br{border-color:rgb(65,80,125)}.C2bk_hov:hover{background-color:rgb(65,80,125)}.C2_hov:hover{color:rgb(65,80,125)}.C2fl_hov:hover{fill:rgb(65,80,125)}
.C3{color:rgb(165,175,195)}.C3bk{background-color:rgb(165,175,195)}.C3fl{fill:rgb(165,175,195)}.C3br{border-color:rgb(165,175,195)}.C3bk_hov:hover{background-color:rgb(165,175,195)}.C3_hov:hover{color:rgb(165,175,195)}.C3fl_hov:hover{fill:rgb(165,175,195)}
.C4{color:#B40A0A !important}.C4bk{background-color:#B40A0A !important}.C4fl{fill:#B40A0A !important}.C4br{border-color:#B40A0A !important}
.C5{color:#4D9B08 !important}.C5bk{background-color:#4D9B08 !important}.C5fl{fill:#4D9B08 !important}.C5br{border-color:#4D9B08 !important}
.C2br_hov:hover{border-color:rgb(65,80,125)}
.C7{color:rgb(72,94,154)}.C7bk{background-color:rgb(65,85,145)}
.C7fl{fill:rgb(65,85,145)}
.svgMap_LandActive{fill:rgb(60,80,140) !important}
.svgMap_Land{fill:rgb(30,40,60);stroke:rgb(16,22,27)}

a,.C1_link{color:rgb(145,70,20);text-decoration:underline;cursor:pointer}
a:hover,.C1_link:hover{color:rgb(145,70,20)}

body{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
#main{min-height:calc(100% - 180px)}
#main.mainmap{height:100%;overflow:hidden}
#main section{min-height:100%}
#footer{height:90px;padding-top:30px}

#NotDoneYet{position:absolute;width:100%;height:30px;top:50%;margin-top:-15px;line-height:30px;text-align:center}

.hbar{position:relative;padding-top:5px;margin-bottom:4px;border-bottom:1px solid rgb(65,80,125)}

p, .txt_copytext, .txt_smalltext{font-size:15px;line-height:23px;color:rgb(165,175,195);font-family:"Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace}
.txt_smalltext{font-size:13px;line-height:14px}
.txt_tiny, label{font-family:Helvetica, Arial, sans-serif;font-size:12px;line-height:12px}
label{position:relative;color:rgba(125,135,155,.8)}
p{margin-top:15px}

#ModalCover.C3bk{background-color:rgba(16,22,27,0.94)}
#ModalBox.C0bk{background-color:rgba(16,22,27,0.94)}
.ModalInner{padding:15px 5%;box-sizing:border-box}

#header, #MapHdr{width:calc(100% - 22px);height:72px;padding-top:8px;margin-left:9px}
#MapHdr{position:absolute;z-index:99;height:47px;top:0}

#HdrBar, #FooterBar{position:relative;width:100%;height:30px;border-width:0;border-style:solid;border-radius:50%}
#HdrBar{position:absolute;border-bottom-width:1px;bottom:5px}
#FooterBar{border-top-width:1px}
#FootNav{position:relative;margin-top:-12px}
#MapFooter{position:absolute;width:90%;left:9%;top:84%;text-align:center;z-index:5}

#HdrBtn{position:absolute}
#HdrSearch, #HdrExpand{position:absolute;left:49px;top:0}
#HdrSearch{right:0;top:12px;border-radius:5px}

.HdrExp, .HdrExpSel, .HdrIco{height:30px;box-sizing:border-box}
.HdrExp, .HdrExpSel{position:relative;padding:4px 11px 4px 32px;font-size:13px;margin-top:4px}
.HdrExpSel{padding:3px 11px 3px 32px;}
.HdrExpSel select{height:100%;padding:2px;font-size:11.5px}
.HdrIco{position:absolute;width:30px;top:0;left:0;padding:7px}

#HdrSearch_fld{border:1px solid #3d4b77;color:#a9bbfa;background-color:rgb(7,7,10);font-size:15px;line-height:15px;font-weight:bold}
#HdrExpand, .SpokeSearchAutoC{border-width:1px;border-style:solid;box-sizing:border-box;overflow-y:auto}
#HdrExpand{width:auto;left:17px;top:48px;z-index:99;border-radius:5px;padding-bottom:3px}

.ComboBoxFldOuter, .ComboBoxSelect, .BtnSubmit, input, select, textarea, .SpokeSearch{-webkit-box-shadow: inset 0px 0px 10px 0px rgba(30,30,36,0.2);-moz-box-shadow: inset 0px 0px 10px 0px rgba(30,30,36,0.2);box-shadow:inset 0px 0px 10px 0px rgba(30,30,36,0.2)}
.ComboBoxFldOuter, .ComboBoxSelect, .BtnSubmit, .SpokeSearchFld, input, select, textarea{background-color:rgba(15,15,22,.9);color:rgb(145,70,20);border:1px solid rgb(145,70,20)}
.SpokeSearchFld{border:1px solid rgb(65,80,125)}
.BtnSubmit{border-radius:5px}
.WidgetteOn{background-color:rgba(145,70,20,.8);color:rgb(15,15,22)}
.BtnSubmit:hover, .ComboBoxOption:hover{background-color:rgb(65,80,125);color:rgb(15,15,22)}
.ComboBoxFld{color:rgb(145,70,20);text-align:center;font-size:13px;font-weight:bold}
.WidgetteOn .ComboBoxFld{color:rgb(15,15,22)}
.ComboBoxFldIco{fill:rgb(40,20,5)}

.Shadow{-webkit-box-shadow:0px 5px 20px 0px rgba(0,0,0,0.3);-moz-box-shadow:0px 5px 20px 0px rgba(0,0,0,0.3);box-shadow:0px 5px 20px 0px rgba(0,0,0,0.3)}
.UIBox{border-width:1px;border-style:solid;border-radius:3px;box-sizing:border-box}

.FMBtn{display:inline-block;width:39px;height:39px;padding:10px;border-radius:50%;box-sizing:border-box;border-width:1px;border-style:solid;cursor:pointer}
.FMBtn div{pointer-events:none}

#BtnZoomIn, #BtnZoomOut{position:absolute;z-index:8;width:32px;height:32px;right:15px;padding:4px;box-sizing:border-box;font-size:24px;line-height:24px;font-weight:bold;text-align:center;cursor:pointer}
#BtnZoomIn{bottom:44px;border-radius:5px 5px 0 0 }
#BtnZoomOut{bottom:11px;border-radius:0 0 5px 5px}

#TransResults{width:160px;left:55px;top:10px;max-height:calc(100% - 20px);border-radius:4px;border-width:1px;border-style:solid;box-sizing:border-box;overflow-y:auto}

#DirTitleGroup{position:relative;height:48px;margin-top:10px}
#DirTitle{margin-bottom:4px}
#DirBCT{position:relative;height:22px;margin-top:7px;margin-bottom:5px}
#DirBCTInner{position:absolute;width:101%;height:100%;left:0;top:0;overflow:hidden}
#DirBCTInner .Btn16{margin-top:-4px}

#SearchResults{position:absolute;z-index:6;width:100%;height:100%;top:0;padding-top:75px;box-sizing:border-box}
#DirFirstRow{position:relative;margin-bottom:15px}

.SearchResult, .LangSelect{position:relative;width:100%;height:22px;cursor:pointer;padding:6px;box-sizing:border-box;font-size:12px}
.SearchResult:hover, .LangResult:hover{background-color:rgba(87,107,167,0.5)}

.AutoCompleteResult{cursor:pointer;padding:3px;}

.Tile{position:absolute;width:calc(50% - 3px);min-height:150px;max-height:calc(100% - 53px);bottom:0;border-style:solid;padding:11px 15px 5px 10px;box-sizing:border-box;box-shadow: 0 -12px 30px 12px rgba(7,7,9,0.25);-webkit-box-shadow: 0 -12px 30px 12px rgba(7,7,9,0.25);-moz-box-shadow: 0 -12px 30px 12px rgba(7,7,9,0.25)}
#CountryTile{z-index:7;left:0;border-width:1px 1px 0 0;border-radius:12px 24px 0 0}
#DetailTile{z-index:8;left:50%;margin-left:3px;border-width:1px 0 0 1px;border-radius:24px 12px 0 0;padding-left:15px}
.TileInner{position:relative;height:100%;overflow-x:none;overflow-y:auto}
.TileClose{position:absolute;z-index:7;width:20px;height:20px;right:7px;top:50%;margin-top:-10px}
.TileClose div{pointer-events:none}

.TitleGroup{position:absolute;width:calc(100% - 10px);height:38px;left:5px;top:-39px;text-align:center}
.TileTitle{position:relative;display:inline-block;height:100%;padding:0 33px 0 12px;border-width:1px 1px 0 1px;border-radius:18px 18px 0 0;border-style:solid;box-sizing:border-box;}
.TileTitleInner{height:100%;line-height:38px}

.DetailLogo{float:right;width:200px;height:100px;margin-left:15px;margin-bottom:7px;background-repeat:no-repeat;background-position:center;background-size:cover;border-radius:5px}

.LangSelect{position:relative;padding:10px;box-sizing:border-box;cursor:pointer}

.ElastoHeader{font-family:Helvetica,Arial,sans-serif;font-weight:bold;font-size:16px;white-space:nowrap}

.MenuList, .MenuGroup{position:relative;height:32px}
.MenuBtn, .MenuIco{position:absolute;z-index:1;width:32px;height:32px;left:-7px;padding:8px;box-sizing:border-box}
.MenuLbl, .ListLbl{position:relative;width:calc(100% - 30px);height:20px;margin-left:24px;top:5px;padding:5px 0 2px 2px;box-sizing:border-box;font-size:13px;line-height:13px;color:rgb(60,80,140)}
.MenuLbl{border-width:0 0 1px 0;border-style:solid}
.MenuBtn, .MenuLbl{cursor:pointer}
.MenuStage{position:relative;display:block;margin-bottom:5px;padding-left:24px;box-sizing:border-box}

.GalleryShell, .GalleryAdd{padding-right:5px}
.GalleryShell{cursor:pointer}
.GalleryAdd{border-width:0;text-align:center;padding-top:5px}

#GalleryImage, #GalleryScreen, #GalleryFrame{position:absolute;width:100%;height:100%;left:0;top:0;}
#GalleryImage{z-index:2;background-repeat:no-repeat;background-position:center;background-size:cover}
#GalleryScreen{z-index:1;opacity:0.8}
#GalleryFrame{z-index:3;background:transparent;background:radial-gradient(circle, rgba(16,22,27,0) 50%, rgba(16,22,27,0.7) 100%)}

#GalleryLable1, #GalleryLable2{position:absolute;width:80%;left:0;top:5px;box-sizing:border-box;z-index:4}
#GalleryLable1 div, #GalleryLable2 div{display:inline-block;padding:3px 10px 2px 10px}
#GalleryLable2{top:29px}

.Row, .RowAdd{position:relative;height:47px;margin:18px 0;padding:3px 0;overflow:hidden;text-overflow:ellipsis;box-sizing:border-box}
.RowAdd{height:31px}
.Row:hover, .HdrExp:hover{background:rgba(7,7,11,.5);background: radial-gradient(circle, rgba(7,7,11,0.5) 50%, rgba(7,7,11,0) 100%);}

.RowText{padding-left:8px;overflow:hidden;text-overflow:ellipsis;pointer-events:none}
.RowText .OpenMerchant, .RowText a{pointer-events:all}
.RowAdd .RowText{padding-top:1px}

.GalleryThumb, .RowThumb, .RowMapPin, .RowMapPinIco{position:relative;display:inline-block;box-sizing:border-box;cursor:pointer}
.GalleryThumb, .RowThumb{border-width:1px;border-style:solid;border-radius:3px;background-repeat:no-repeat;background-position:center;background-size:cover}
.GalleryThumb{width:100%;height:50px;margin-right:4px;margin-top:4px;pointer-events:none}
.RowThumb{float:left;width:82px;height:100%;margin-right:4px}
.RowAdd .RowThumb{text-align:center}
.RowAdd .RowThumb div{pointer-events:none}
.RowMapPin{float:left;width:36px;height:100%;padding:1px 0 3px 0}
.RowMapPinIco{width:100%;height:100%;padding:4px 0 4px 4px}
.RowMapPinNum{position:absolute;z-index:2;width:100%;top:15%;padding-left:2px;text-align:center;font-weight:bold}
.RowThumbEmpty{border:0}

.Widgette{width:100%;height:36px;text-align:center;font-size:13px;padding:6px 4px}
.Widgette.ComboBox{padding:0;border:0}
.WidgetteOr{display:inline-block;width:60px;text-align:center}
.BtnSubmit.Widgette{width:calc(50% - 30px)}

#SiteMap{overflow-y:auto;height:100%}
#MiniMap{position:relative;display:block;width:100%;height:100px;border:1px solid rgb(65,80,125);border-radius:5px;box-sizing:border-box}
#MiniMapStreetBtn{width:100%;height:28px;margin-top:5px;text-align:center}

.FMQR{padding:10%;border-radius:5px;box-sizing:border-box;background-color:rgba(225,225,255,.85)}

@media all and (max-width:1100px){
    .Tile{padding:0 15px 5px 15px}
    .txt_copytext{font-size:14px;line-height:21px}
    .DetailLogo{width:160px;height:80px;margin-left:12px;margin-bottom:5px}
    .Row{height:45px;margin:16px 0}
    .RowThumb{width:78px}
}

@media all and (max-width:900px){
    .txt_copytext{font-size:13px;line-height:18px}
    .txt_smalltext, .MenuLbl{font-size:12px;line-height:13px}
    .txt_tiny, label{font-size:11px;line-height:11px}
    .Tile{padding:0 10px 5px 10px}
    .DetailLogo{width:125px;height:62px;margin-left:10px;margin-bottom:3px}
    .Row{height:42px;margin:14px 0}
    .RowThumb{width:74px}
    .MenuGroup{height:32px}
}

@media all and (max-width:700px){
    .txt_copytext{font-size:12px}
    .txt_smalltext, .MenuLbl{font-size:11px}
    .txt_tiny, label{font-size:10px;line-height:10px}
    .MenuGroup{height:30px}
    #MapModal{top:15px;right:2.5%;left:2.5%}
    .GalleryThumb{height:40px}
    .ModalInner{padding:10px 2.5%}
    .Tile{padding:0 9px 0 9px}
    .DetailLogo{width:100px;height:50px;margin-left:7px}
    #CountryTile{width:100%;left:0;border-width:1px 0 0 0;z-index:10}
    #DetailTile{width:100%;left:0;border-width:1px 0 1px 0;z-index:11}
    .Row{margin:12px 0}
    .RowThumb{width:70px}
    .WidgetteOr{width:100%;padding:5px;box-sizing:border-box}
    .BtnSubmit.Widgette{width:100%}
}

@media all and (max-width:500px){
    .MenuGroup{height:28px}
    #MapModal{top:10px;right:10px;left:10px}
     .ModalInner{padding:8px}
    .Tile{padding:0 8px 0 8px}
    .Row{margin:8px 0}
    .RowThumb{width:65px}
}

@media all and (max-width:400px){
    .MenuGroup{height:26px}
    .Tile{padding:0 7px 0 7px}
}